.navbar {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: rgb(115, 163, 159);
    border-bottom: 1px solid #eee;
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar span {
    color: rgb(19, 107, 165);
}

.navbar .nav-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 90px;
    right: -100%;
    height: 100%;
    width: 100%;
    transition: .04s ease-in-out;
    z-index: 10;
}

.navbar li {
    padding: 1rem;
}

.menuresponsive {
    display: none;
}

.icon {
    font-size: 1rem;
}

.navbar .active {
    right: 0;
}